In [74]:
import pandas as pd

# Climate data per state

In [75]:
climate_data_per_state = pd.read_csv("../data/raw_data/climate/GlobalLandTemperaturesByState.csv")
climate_data_per_state.tail(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country
645665,2012-12-01,6.633,0.437,Zhejiang,China
645666,2013-01-01,5.120,0.393,Zhejiang,China
645667,2013-02-01,7.867,0.490,Zhejiang,China
645668,2013-03-01,12.116,0.345,Zhejiang,China
645669,2013-04-01,15.710,0.461,Zhejiang,China
645670,2013-05-01,21.634,0.578,Zhejiang,China
645671,2013-06-01,24.679,0.596,Zhejiang,China
645672,2013-07-01,29.272,1.340,Zhejiang,China
645673,2013-08-01,29.202,0.869,Zhejiang,China
645674,2013-09-01,NaN,NaN,Zhejiang,China

In [76]:
climate_data_per_state.shape

(645675, 5)

In [77]:
climate_data_per_state.Country.unique()

array(['Brazil', 'Russia', 'United States', 'Canada', 'India', 'China',
       'Australia'], dtype=object)

In [78]:
climate_data_per_state = climate_data_per_state[climate_data_per_state["Country"] == "United States"]
climate_data_per_state.drop("Country", inplace=True, axis=1)
climate_data_per_state

                dt  AverageTemperature  AverageTemperatureUncertainty    State
7458    1743-11-01              10.722                          2.898  Alabama
7459    1743-12-01                 NaN                            NaN  Alabama
7460    1744-01-01                 NaN                            NaN  Alabama
7461    1744-02-01                 NaN                            NaN  Alabama
7462    1744-03-01                 NaN                            NaN  Alabama
...            ...                 ...                            ...      ...
626435  2013-05-01              10.607                          0.208  Wyoming
626436  2013-06-01              16.267                          0.276  Wyoming
626437  2013-07-01              20.222                          0.133  Wyoming
626438  2013-08-01              19.621                          0.217  Wyoming
626439  2013-09-01              15.811                          1.101  Wyoming

[149745 rows x 4 columns]

In [79]:
climate_data_per_state = climate_data_per_state.reindex(columns=['dt', 'day', 'month', 'year','State','AverageTemperature','AverageTemperatureUncertainty'])

In [80]:
climate_data_per_state["dt"] = pd.to_datetime(climate_data_per_state["dt"])
climate_data_per_state.reset_index(inplace=True)
climate_data_per_state["day"] = climate_data_per_state["dt"].dt.day
climate_data_per_state["month"] = climate_data_per_state["dt"].dt.month
climate_data_per_state["year"] = climate_data_per_state["dt"].dt.year
climate_data_per_state.rename(columns={"index": "unique_key"}, inplace=True)
climate_data_per_state

,unique_key,dt,day,month,year,State,AverageTemperature,AverageTemperatureUncertainty
0,7458,1743-11-01,1,11,1743,Alabama,10.722,2.898
1,7459,1743-12-01,1,12,1743,Alabama,NaN,NaN
2,7460,1744-01-01,1,1,1744,Alabama,NaN,NaN
3,7461,1744-02-01,1,2,1744,Alabama,NaN,NaN
4,7462,1744-03-01,1,3,1744,Alabama,NaN,NaN
...,...,...,...,...,...,...,...,...
149740,626435,2013-05-01,1,5,2013,Wyoming,10.607,0.208
149741,626436,2013-06-01,1,6,2013,Wyoming,16.267,0.276
149742,626437,2013-07-01,1,7,2013,Wyoming,20.222,0.133
149743,626438,2013-08-01,1,8,2013,Wyoming,19.621,0.217
149744,626439,2013-09-01,1,9,2013,Wyoming,15.811,1.101

In [81]:
climate_data_per_state.tail()

,unique_key,dt,day,month,year,State,AverageTemperature,AverageTemperatureUncertainty
149740,626435,2013-05-01,1,5,2013,Wyoming,10.607,0.208
149741,626436,2013-06-01,1,6,2013,Wyoming,16.267,0.276
149742,626437,2013-07-01,1,7,2013,Wyoming,20.222,0.133
149743,626438,2013-08-01,1,8,2013,Wyoming,19.621,0.217
149744,626439,2013-09-01,1,9,2013,Wyoming,15.811,1.101

In [99]:
climate_data_per_state.to_csv("../climate_data.csv")

# Crime data

In [92]:
data_excel_crime = pd.read_excel("/home/ark/PycharmProjects/crime-dashboard/data/raw_data/crime/original/violent-crime-rate-california-2000-2013.xlsx", sheet_name='ViolentCrime')
data_excel_crime.tail(10)

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
49217,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,13.0,Shasta,NaN,NaN,...,179250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178591.0,2015-10-21 11:57:42
49218,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,13.0,Shasta,NaN,NaN,...,179250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178591.0,2015-10-21 11:57:42
49219,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,13.0,Shasta,NaN,NaN,...,179250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178591.0,2015-10-21 11:57:42
49220,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,13.0,Shasta,NaN,NaN,...,179250.0,6.415621,6.044815,6.786426,0.189186,2.948839,NaN,1.620500,178591.0,2015-10-21 11:57:42
49221,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0,2015-10-21 11:57:42
49222,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0,2015-10-21 11:57:42
49223,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0,2015-10-21 11:57:42
49224,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0,2015-10-21 11:57:42
49225,752,"Number of Violent Crimes per 1,000 Population",2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,...,18543759.0,3.408640,3.382067,3.435214,0.013558,0.397750,NaN,0.860977,18482091.0,2015-10-21 11:57:42
49226,END OF TABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [93]:
data_excel_crime.shape

(49227, 27)

In [94]:
data_excel_crime = data_excel_crime.drop(['ind_definition', 'strata_name','version'	], axis=1)
data_excel_crime

,ind_id,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,region_code,...,numerator,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population
0,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,NaN,...,138325.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
1,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,NaN,...,9784.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
2,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,NaN,...,2079.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
3,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,NaN,...,60237.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
4,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,NaN,...,210448.0,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.000000,33873086.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,752,2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,14.0,...,3048.0,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0
49223,752,2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,14.0,...,849.0,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0
49224,752,2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,14.0,...,24221.0,18543759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18482091.0
49225,752,2013.0,9.0,Total,RE,14.0,Southern California,NaN,NaN,14.0,...,63209.0,18543759.0,3.408640,3.382067,3.435214,0.013558,0.397750,NaN,0.860977,18482091.0
49226,END OF TABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
data_excel_crime.isnull().sum()

ind_id                        0
reportyear                    1
race_eth_code                 1
race_eth_name                 1
geotype                       1
geotypevalue                  1
geoname                       1
county_fips                1051
county_name                1051
region_code                  71
region_name                  71
strata_name_code              1
strata_level_name_code        1
strata_level_name             1
numerator                 16934
denominator               12137
rate                      41904
ll_95ci                   41904
ul_95ci                   41904
se                        41904
rse                       41904
ca_decile                 42926
ca_rr                     41904
dof_population            10567
dtype: int64

In [96]:
data_excel_crime.isnull().sum()

ind_id                        0
reportyear                    1
race_eth_code                 1
race_eth_name                 1
geotype                       1
geotypevalue                  1
geoname                       1
county_fips                1051
county_name                1051
region_code                  71
region_name                  71
strata_name_code              1
strata_level_name_code        1
strata_level_name             1
numerator                 16934
denominator               12137
rate                      41904
ll_95ci                   41904
ul_95ci                   41904
se                        41904
rse                       41904
ca_decile                 42926
ca_rr                     41904
dof_population            10567
dtype: int64

In [97]:
data_excel_crime.reset_index(inplace=True)
data_excel_crime.head()

,index,ind_id,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,numerator,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population
0,0,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,138325.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
1,1,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,9784.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
2,2,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,2079.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
3,3,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,60237.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
4,4,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,210448.0,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0

In [98]:
data_excel_crime.rename(columns={'index': 'unique_key'}, inplace=True)
data_excel_crime.head()

,unique_key,ind_id,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,numerator,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population
0,0,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,138325.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
1,1,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,9784.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
2,2,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,2079.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
3,3,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,60237.0,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0
4,4,752,2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,210448.0,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0

In [100]:
data_excel_crime.to_csv("../data/crime_data.csv")

# Climate zones

In [102]:
import geopandas as gpd
data = gpd.read_file("../data/raw_data/climate/California_Building_Climate_Zones.geojson")
data

,OBJECTID,BZone,BAcerage,SHAPE_Length,SHAPE_Area,geometry
0,1,1,2.263098e+06,13.164776,0.969484,"MULTIPOLYGON Z (((-124.09750 41.96808 0.00000,..."
1,2,10,2.008073e+06,6.270269,0.788794,"MULTIPOLYGON Z (((-117.37140 34.20782 1.00000,..."
2,3,11,5.852273e+06,11.391989,2.488994,"MULTIPOLYGON Z (((-121.91380 40.95895 0.00000,..."
3,4,12,7.639111e+06,12.667741,3.168116,"MULTIPOLYGON Z (((-120.89250 38.94104 0.00000,..."
4,5,13,8.154006e+06,10.594912,3.304840,"MULTIPOLYGON Z (((-119.62390 37.37152 0.00000,..."
5,6,14,1.682699e+07,27.812704,6.721220,"MULTIPOLYGON Z (((-117.35770 37.03979 0.00000,..."
6,7,15,7.372182e+06,17.724274,2.897959,"MULTIPOLYGON Z (((-114.63090 34.98526 0.00000,..."
7,8,16,3.458417e+07,52.696295,14.552049,"MULTIPOLYGON Z (((-124.10215 41.99669 0.00000,..."
8,9,2,5.027297e+06,12.214513,2.127322,"MULTIPOLYGON Z (((-123.49820 41.37890 0.00000,..."
9,10,3,2.041871e+06,18.196224,0.836750,"MULTIPOLYGON Z (((-122.22420 38.06489 0.00000,..."
10,11,4,4.580379e+06,13.339328,1.855955,"MULTIPOLYGON Z (((-121.47690 37.47838 1.00000,..."
11,12,5,1.965020e+06,7.926630,0.784135,"MULTIPOLYGON Z (((-121.33186 35.79513 0.00000,..."
12,13,6,6.275005e+05,10.310435,0.247934,"MULTIPOLYGON Z (((-119.44567 34.34677 0.00000,..."
13,14,7,4.556979e+05,4.760606,0.177999,"MULTIPOLYGON Z (((-117.36570 33.45990 1.00000,..."
14,15,8,5.234582e+05,2.898644,0.206205,"MULTIPOLYGON Z (((-118.27180 34.03676 1.00000,..."
15,16,9,1.036771e+06,5.535105,0.410526,"MULTIPOLYGON Z (((-118.62830 34.55103 0.00000,..."